/* This file is used to generate the actual CSS file that will be consumed by
the app. It uses tailwind CSS to generate the output file. The only thing that
should go here is default overrides */

@import "tailwindcss";

@theme {
  --breakpoint-sm: 0px;
  --breakpoint-md: 480px;
  --breakpoint-lg: 768px;

  --color-darkGreen: #37514D;
  --color-darkRed: #B6594C;
  --color-terracotta: #DD8E75;
  --color-lightBlue: #90AEB2;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}
